.popup {
    position: absolute;
    top: 30%;
    left: 38%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    padding: 20px;
    border-radius: 20px;
    max-height: 280px;
    overflow: scroll;
}

.synonym {
    cursor: pointer;
    color: white;
    margin: 10px 0;
}